.task-manager-page {
    .content {
        padding: 20px;

        .ant-layout-header {
            background: none !important;
            padding: 0px !important;
            height: 50px;
            line-height: 50px;

            .header-content-wrapper {
                display: flex;

                .header-left-menu-wrapper {
                    flex: 1;

                    .case-items-wrapper {
                        display: flex;
            
                        .case-link {
                            font-size: 14px;
                            font-weight: bold;
                            white-space: nowrap;
                            margin-right: 20px;
                            color: blue;
                            opacity: 0.4;
                            cursor: pointer;

                            &.active {
                                opacity: 1;
                            }
                        }

                        @media (max-width: 992px){
                            .case-link {
                                display: none;
                            }
                        }
            
                        .card-search-input {
                            display: block;
                            margin: auto;
                            width: 250px;
                            margin-left: 0px;
                        }
                    }
                }

                .header-right-btn-wrapper {
                    .ant-btn-primary {
                        background-color: blue;
                        border-color: blue;
                        // padding-left: 30px;
                        // padding-right: 30px;
                        margin-right: 15px;
                    }
                }
            }

        }

        .task-manager-content {
            padding-top: 30px;

            .ant-collapse-content-active {
                padding-bottom: 20px;
            }

            .buttons-section {
                position: relative;
                margin-top: 50px;

                .additional-button {
                    position: relative;
                    color: rgb(45, 190, 234);
                    border: 1px solid rgb(45, 189, 234);
                    margin-left: 20px;
                }

                .done-button {
                    border: none; 
                }
            }

            .additional-item-row {
                margin-top: 30px;
                position: relative;
            }

            .drawer-item-title {
                font-size: 25px;
                color: #242425;
            }

            .list-item {
                position: relative;
                background-color: white;

                .anticon {
                    color: lightblue;
                    margin-right: 10px;
                    font-size: 20px;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                }

                .more-btn {
                    position: absolute;
                    right: 0px;
                    color: blue;
                    margin-right: 0px;
                }
            }

           
        }
    }

}

.task-manager-dropdown-menu {
    padding: 10px;

    .ant-dropdown-menu-item {
        font-size: 16px;
        color: blue;
    }

    .delete-menu-item {
        color: red;
    }
}

.create-category-modal {
    .create-category-name-label {
        margin: 0;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
    }

    .ant-list-split .ant-list-item {
        border-bottom: none;
    } 

    .ant-spin-container {
        padding-top: 20px;

        .category-item {
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.85);
            position: relative;
            padding-right: 30px;

            .category-delete-icon {
                position: absolute;
                right: 0px;
                font-size: 20px;
                color: blue;
            }
        }

    }
    
    .category-save-button {
        padding: 0px 30px;
        background-color: blue;
        display: block;
        margin-left: auto;
        margin-top: 20px;
    }
}

.create-task-drawer {
    .ant-drawer-body {
        padding: 0px;
        background-color: #f0f2f5;
        min-height: 100vh;

        .create-case-header {
            background-color: blue;
            color: white;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 100;

            .drawer-close-icon {
                position: absolute;
                right: 25px;
                font-size: 20px;
                top: 20px;
            }

            .drawer-header-content {
                position: relative;
                max-width: 1100px;
                text-align: center;
                font-size: 30px;
                color: white;
                margin: auto;

                .save-case-button {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: blue;
                    color: white;
                    font-weight: 500;
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
        
        .drawer-content-wrapper {
            padding-top: 50px;
            padding-bottom: 50px;
            max-width: 1100px;
            margin: auto;

            .drawer-item-title {
                font-size: 25px;
                color: #242425;
            }

            .drawer-clickable-link {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                color: blue;
                text-align: right;
                margin-left: auto;
                display: block;
                line-height: 37px;
            }

            .ant-form-item-label {
                label {
                    font-size: 25px;
                }
            }

            .create-new-task-button {
                background-color: blue;
                color: white;
                font-weight: 500;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: auto;
                display: block;
            }

            .list-item {
                background-color: white;

                .checkbox-item {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }

            .load-more-button {
                text-transform: uppercase;
                text-align: center;
                padding: 20px;
                color: blue;
                font-weight: 500;

                .anticon {
                    margin-left: 5px;
                }
            }

            .buttons-section {
                position: relative;
                margin-top: 50px;

                .add-item-btn {
                    position: absolute;
                    top: -30px;
                    left: -40px;
                    font-size: 30px;
                    color: #2dbdea;
                }

                .add-button-button {
                    position: relative;
                    color: rgba(45, 190, 234, 0.4);
                    border: 1px dashed rgba(45, 189, 234, 0.4);

                    .add-button-btn {
                        position: absolute;
                        top: -15px;
                        left: -25px;
                        font-size: 30px;
                        color: #2dbdea;
                        pointer-events: all;
                    }

                }

                .additional-button {
                    position: relative;
                    color: rgb(45, 190, 234);
                    border: 1px solid rgb(45, 189, 234);
                    margin-left: 20px;

                    .remove-button-btn {
                        position: absolute;
                        top: -15px;
                        left: -25px;
                        font-size: 30px;
                        color: #2dbdea;
                        pointer-events: all;
                    }
                }

                .done-button {
                    border: none; 
                }
            }

            .additional-item-row {
                margin-top: 30px;
                position: relative;

                .remove-item-btn {
                    position: absolute;
                    top: -15px;
                    left: -40px;
                    font-size: 30px;
                    color: #2dbdea;
                }
            }
        }

        .create-task-btn {
            display: block;
            margin-left: auto;
            padding-left: 30px;
            padding-right: 30px;
            background-color: blue;
        }
    }
}

.add-button-menu-for-new-task {
    .add-custom-button-text {
        width: 180px;
        margin-right: 10px;
    }

    .add-custom-button-btn {
        background-color: #2dbdea;
        color: white;
    }

    .radio-span {
        margin-left: 8px;
    }

    .attach-file-span {
        margin-left: 8px;
    }

    .checkbox-input-item {
        width: 150px;
        margin-left: 10px;
    }
}

.add-new-category-btn-select {
    cursor: pointer !important;
    color: black !important;
    padding: 0px;
    border-top: 1px solid grey;

    .add-new-category-btn {
        padding: 10px 15px;
    }
}

.add-item-menu-for-new-task {
    .add-custom-button-text {
        width: 180px;
        margin-right: 10px;
    }

    .add-custom-button-btn {
        background-color: #2dbdea;
        color: white;
    }

    .radio-span {
        margin-left: 8px;
    }

    .checkbox-input-item {
        width: 150px;
        margin-left: 10px;
    }

    .ant-dropdown-menu-item {
        .anticon {
            margin-right: 8px;
        }
    }

    .checkbox-menu-add-more-wrapper {
        display: flex;
        align-items: center;

        .checkbox-menu-add-more-list {
            text-transform: uppercase;
            color: #2dbdea;
            cursor: pointer;
        }

        .checkbox-menu-done {
            display: block;
            margin-left: auto;
        }

    }
    
    .radiobox-input-item {
        width: 150px;
        margin-left: 10px;
    }

    .radiobox-menu-add-more-wrapper {
        display: flex;
        align-items: center;

        .radiobox-menu-add-more-list {
            text-transform: uppercase;
            color: #2dbdea;
            cursor: pointer;
        }

        .radiobox-menu-done {
            display: block;
            margin-left: auto;
        }

    }
    
    .inputbox-input-item {
        
    }

    .ant-menu-item-selected {
        background-color: white !important;
    }
}